@import "./variable.scss";

.category {
    &__item {
        background: $color-orange-light;
        padding: 30px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: 300ms;
        &:hover {
            transform: translateY(-10px);
        }
    }
}
@media only screen and (max-width:768px) {
    .category{
        &__img img{
            width: 40px;
            height: 40px;
        }
        &__item {
            padding: 20px 15px;
            h6 {
                font-size: .8rem;
            }
        }
    }
}