@import "./variable.scss";

.hero {
    &__title {
        font-size: 2.5rem;
        line-height: 55px;
        span {
            color: $color-orange;
        }
    }
    &__content {
        p {
            font-size: 1rem;
            color: $color-gray-light;
            line-height: 30px;
        }
    }
    &__btns {
        button {
            border:none;
        }
        .order__btn {
            background-color: $color-orange;
            color: $color-white;
            padding: 7px 14px;
            border-radius: 5px;
            font-weight: 600;
            transition: 300ms;
            &:hover {
                background-color: $color-black;
            }
        }
        .all__foods {
            border: 1px solid $color-orange;
            background-color: transparent;
            color: $color-orange;
            padding: 7px 14px;
            border-radius: 5px;
            font-weight: 600;
            transition: 300ms;
            &:hover {
                border-color: $color-black;
                a {
                    color: $color-black;
                }
            }
            a {
                color: $color-orange;
            }
        }
    }
    &__service {
        p {
            color: $color-black;
            font-weight: 600;
            font-size: .9rem;
        }
        .shipping__icon i{
            padding: 5px;
            background-color: $color-orange;
            border-radius: 50%;
            color: $color-white;
            font-weight: 500;
        }
    }
}
.feature {
    &__title {
        color: $color-black;
        span {
            color: $color-orange;
        }
    }
    &__subtitle {
        color: $color-orange;
    }
    &__text {
        color: $color-gray-light;
    }
    &__item {
        p {
            color: $color-gray-light;
            font-size: .9rem;
        }
    }
}
.food {
    &__category {
        background-color: $color-orange;
        border-radius: 5px;
        padding: 15px;

        button {
            border: none;
            background: transparent;
            color: $color-white;
            img {
                width: 25px;
                height: 25px;
                margin-right: 10px;
            }
        }
        .foodBtnActive {
            background-color: $color-white;
            color: $color-orange;
            border-radius: 5px;
            padding: 5px 15px;
        }
    }
}
.why {
    &__tasty-title {
        color: $color-black;
        span {
            color: $color-orange;
        }
    }
    &__tasty-desc {
        color: $color-gray-light;
    }
    &__list-title {
        font-weight: 600;
        margin-bottom: 10px;
        i {
            color: $color-orange;
            font-weight: 500;
        }
    }
    &__list-desc {
        color: $color-gray-light;
    }

}
.testimonial {
    &__subtitle {
        color: $color-orange;
    }
    &__title {
        span {
            color: $color-orange;
        }
    }
    &__desc {
        color: $color-gray-light;
        line-height: 30px;
    }
}
@media only screen and (max-width:768px) {
    .hero {
        &__content {
            h5 {
                font-size: 1rem;
            }
            p {
                font-size: .8rem;
                line-height: 25px;
            }
        }
        &__title {
            font-size: 1.5rem;
            line-height: 40px;
        }
        &__btns {
            button {
                padding: 5px 15px;
                font-size: .7rem;
            }
        }
        &__service p {
            font-size: .7rem;
        }
    }
    .feature {
        &__item {
            h5 {
                font-size: .9rem;
            }
            p {
                font-size: .8rem;
            }
        }
        &__subtitle {
            font-size: 1rem;
        }
        &__text {
            font-size: .8rem;
            margin-bottom: 0px;
        }
    }

    .food {
        &__category {
            button {
                padding: 5px 15px;
            }
        }
    }
    .why {
        &__tasty-desc {
            font-size: .8rem;
            margin-bottom: 0px;
        }
        &__list-title {
            font-size: .8rem;
        }
        &__list-des {
            font-size: .7rem;
        }
    }
    .testimonial {
        &__subtitle {
            font-size: 1rem;
        }
        &__desc {
            font-size: .8rem;
        }
    }
}
@media only screen and (max-width:576px) {
    .hero {
        &__content {
            text-align: center;
        }
        &__btns {
            justify-content: center;
        }
        &__service {
            justify-content: center;
        }
    }
    .food {
        &__category {
            button {
                padding: 5px 10px;
            }
        }
    }
    .why {
        padding-top: 0px;
    }
}